{% load static %}

<div class="container right-panel-active">
    <!-- Sign Up -->
    <div class="container__form container--signup">
        <form class="form" id="form1" method='POST' >
            <h2 class="form__title">S'INSCRIRE</h2>
            {% csrf_token %}
            {{ form }}
            <button class="btn" id="signup" type="submit">S'inscrire</button>
        </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">
            
            <div class="overlay__panel overlay--left">
                <h2>Incrivez vous ici !</h2>
            </div>
        </div>
    </div>
</div>