{% load static %}

<div class="container right-panel-active">
    <!-- Sign Up -->
    <div class="container__form container--signup">
        <form method='POST' class="form" id="form1">
            {% csrf_token %}
            <h2 class="form__title">S'INSCRIRE</h2>
            <input type="text" placeholder="Nom & prénom(s)" class="input" />
            <input type="email" placeholder="Email" class="input" />
            <input type="password" placeholder="Mot de passe" class="input" />
            <button class="btn" id="signup">S'inscrire</button>
        </form>
    </div>

        <div class="container__overlay">
        <div class="overlay">
            
            <div class="overlay__panel overlay--left">
                <h2>Incrivez vous ici !</h2>
            </div>
        </div>
    </div>
</div>